* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    text-align: center;
    background-image: url("../IMG/Background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-family: "Arial", Courier, monospace;
    color: white;
}

h1 {
    font-size: 3rem;
    background-color: rgb(50, 50, 50);
    max-width: 90%;
    margin: auto;
    margin-top: 12vh;
    margin-bottom: .2%;
    border: blue 2px solid;
}

a {
    color: cyan;
}

a:visited {
    color: lightblue;
}

h2 {
    font-size: 2rem;

    border: blue 2px solid;

    max-width: 90vw;
    margin: auto;
    margin-bottom: 1%;
    margin-top: .5%;
    background-color: rgb(35, 35, 35);
}

video {
    border: 1px solid yellow;
    padding: .5%;
    margin: 1%;
    width: fit-content;
}

video:hover {
    border-color: lime;
}

audio::-webkit-media-controls-panel {
    background-color: #66a3a9;
}

audio {
    margin: .5%;
    border: 2px yellow solid;
    border-radius: 30px;
}

audio:hover {
    border-color: lime;
}

li {
    padding: 1vh 0;
}

button {
    color: black;
}

/*
****************************************************************
FORMS
****************************************************************
*/
form {
    background-color: rgb(63, 63, 63);
    border: 2px solid blue;
    width: 90vw;
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
}

.input-list {
    outline: none;
}

input, select, .input-style-button {    
    font-size: 1rem;
    min-width: 100%;
    padding: 1% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
}

input[type= "submit"], .input-style-button {
    min-width: 80vw;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: fit-content;
}

input[type= "submit"]:hover, .input-style-button:hover {
    background-color: rgb(220, 220, 220);
}

option {
    color: black;
}

label {
    float: left;
}

.important {
    color: rgb(255, 43, 43);
    font-weight: bold;
}

.good {
    color: greenyellow;
}

.text-block, #welcome {
    width: 90vw;
    margin: auto;
    margin-bottom: 2%;
    background-color: rgb(19, 19, 19);
    line-height: 3vh;
    border: 2px solid blue;
}

.text-normal {
    text-align: left;
    padding: 3%;
}

#welcome {
    line-height: 4vw;
}

/*
****************************************************************
SCHOOL TABLE
****************************************************************
*/

#school-table {
    width: 90vw;
    margin: auto;
    margin-bottom: 2%;
    border: 2px solid blue;
    table-layout: fixed;
    background-color: rgb(0, 0, 0);
}

#school-table th, #school-table td {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: rgb(86, 86, 86);

    padding: 1% 0;
}

#school-table tr:nth-child(even) td {
    background-color: rgb(70, 70, 70);
}

#school-table th {
    background-color: gray;
}

#school-table .math {
    background-color: rgb(247, 202, 0) !important;
}

#school-table .english {
    background-color: blue !important;
}

#school-table .german {
    background-color: rgb(0, 255, 0) !important;
}

#school-table .reli {
    background-color: rgb(95, 139, 9) !important;
}

/*
****************************************************************
Switch List
****************************************************************
*/

.switch-list-button {
    aspect-ratio: 1/1;
    --width: 10%;
    width: var(--width);
    position: absolute;
    top: calc(50% - var(--height) / 2);
    background-color: white;
}


/*
****************************************************************
INPUT
****************************************************************
*/

#list-input {
    background-color: rgb(63, 63, 63);
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0;
    overflow: scroll;
    border: 1px solid yellow;
}

#list-input::-webkit-scrollbar {
    display: none;
}

input[type="list"]:hover {
    cursor: pointer;
}

#list-input .list-input-item:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

#list-input .list-input-item:nth-child(odd):hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#list-input .list-input-item:nth-child(even):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#list-input .list-input-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    color: white;
    cursor: pointer;
}

/*
****************************************************************
RESERVATION PAGE
****************************************************************
*/

#booking-table {
    background-color: rgb(25, 25, 25);
    border: 2px solid blue;
    margin: auto;
    min-width: 90vw;
}

#booking-table * * {
    border: 1px solid white;
    width: 20%;
}

#booking-table th {
    background-color: rgb(29, 29, 29);
}

#booking-table td:nth-child(even) {
    background-color: rgb(96, 96, 96);
}

#booking-table td:nth-child(odd) {
    background-color: rgb(78, 78, 78);
}

#clear-reservations {
    font-size: 1rem;
    height: 8vh;
    color: red;
    font-weight: bold;
    margin-top: 1vh;
}

/*
****************************************************************
Dodo List
****************************************************************
*/

.task-status {
    text-align: center;
    min-width: fit-content;
    background-color: transparent;
    border-radius: 5px;
    --color: gray;
    border-color: var(--color);
    color: var(--color);
}

#open-add-task, #reset-tasks {
    border: 1px solid rgb(76, 198, 216);
    color: rgb(76, 198, 216);
    border-radius: 5px;
    background-color: transparent;
    padding: .5%;
    cursor: pointer;
}

#reset-tasks {
    margin-top: 3%;
}

#open-add-task:hover, #reset-tasks:hover {
    background-color: rgb(76, 198, 216);
    color: black;
}

.remove-task, .edit-task {
    cursor: pointer;
    border: 1px solid var(--color);
    width: currentHeight;
    padding: 5%;
    border-radius: 5px;
    color: var(--color);
}

.remove-task:hover, .edit-task:hover {
    color: black;
    background-color: var(--color);
}

.edit-task {
    --color: rgb(76, 198, 216);
}

.remove-task {
    --color: rgb(215, 215, 215);
}

.task-data {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: default;
    min-width: 90%;
    padding: 1.5%;
    text-align: center;
    overflow-x: scroll;
}

.todo-alert {
    color: red;
    border: 1px solid red;
    margin: 1% auto;
    width: fit-content;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
}

.todo-alert:hover {
    color: black;
    background-color: red;
}

.task-data[data-edit] {
    background-color: gray;
    color: white;
    cursor:text;
}

.task-data[data-edit]:focus {
    background-color: white;
    color: black;
}

.task-status:hover {
    color: black;
    background-color: var(--color);
}

.task-status[value="Todo"] {
    --color:rgb(196, 196, 196);
}

.task-status[value="Complete"] {
    --color: rgb(51, 189, 51);
}

.task-status[value="In Progress"] {
    --color: orange;
}

#add-task-container {
    border-top: 1px solid gray;
    margin-top: 1%;
    padding: 1%;
}

#todo-list {
    background-color: rgb(63, 63, 63);
    border: 2px solid blue;
    width: 90vw;
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
}

#todo-tasks {
    width: 100%;
    border-collapse: collapse;
}

#todo-tasks tbody td, #todo-tasks thead th {
    margin: 0;
    padding: 1.5% 0;
}

#todo-tasks * tr {
    border-bottom: 1px solid gray;
}

#todo-tasks thead th {
    border-bottom: 2px solid white;
}

#todo-tasks thead th:nth-child(1) {
    width: 5%;
}

#todo-tasks thead th:nth-child(4) {
    width: 20%;
}

#todo-tasks thead th:nth-child(5), #todo-tasks thead th:nth-child(6) {
    width: 8%;
}

/*
****************************************************************
WEEKEND PAGE
****************************************************************
*/
#weekendContainer {
    background-color: white;
    height: 50rem;
    width: 35.3rem;
    margin: auto;
    display:grid;
    grid-template-rows: 2.1fr 1.6fr .8fr;
    row-gap: 0;
}

#weekendTopArea > * , #weekendTopArea > * > * {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align:left;
}

#weekendMiddleArea > * , #weekendMiddleArea > * > * {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align:left;
}

#weekendBottomArea > * , #weekendBottomArea > * > * {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align:left;
}

#weekendTopArea, #weekendMiddleArea {
    background-repeat: no-repeat;
    background-size:contain;
    
    width: 100%;
    height: 100%;
}

#weekendBottomArea {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 205, 4);
}

#weekendTopArea {
    background-image: url("../IMG/weekendPage/upperHalf.png");
}

#weekendMiddleArea {
    background-image: url("../IMG/weekendPage/lowerHalf.png");
    background-color: rgb(255, 205, 4);
}

#weekendText1 > *, #weekendText1 {
    font-size: 1.2rem;
}

#weekendText2 > *, #weekendText2 {
    font-size: .6rem;
}

#weekendText3, #weekendText3 > * {
    font-size: .5rem;
}

#weekendText4, #weekendText4 > * {
    font-size: 1.5rem;
}

#weekendText5, #weekendText5 > * {
    font-size: 1.4rem;
}

#weekendText6, #weekendText6 > * {
    font-size: 1.3rem;
}

#weekendText7, #weekendText7 > * {
    font-size: .435rem;
}

#weekendText1 {
    margin: 7%;
    margin-bottom: 0;
}

#weekendText2 {
    margin: 4% 0 0 13%;
}

#weekendText3 {
    width: 20%;
    height: 13%;
    margin: 3% 0 0 25%;
    padding: 1%;
    text-align: center;
    background-color: rgb(255, 208, 0);
    transform: rotate(-2deg);
}

#weekendText4 {
    margin: 4% 0 0 75%;
}

#weekendText5 {
    margin: 4% 0 3% 60%;
}

#weekendText6 {
    margin: 4% 0 3% 10%;
}

#weekendText7 {
    margin: 2% 0 3% 5%;
}

#weekendImg1 {
    width: 12.5%;
    margin: 3.5% 1% 0 4%;
    float: left;
}

#weekendImg2 {
    width: 10%;
    margin: 0;
    float: right;
    position: relative;
    top: -30%;
    left: -5%;
}

.trans-blue-bg {
    background-color: rgba(53, 174, 255, 0.3);
    font-weight: bold;
}

.trans-green-bg {
    background-color: rgba(36, 255, 47, 0.3);
    font-weight: bold;
}

.txt-b-yellow {
    font-weight: bold;
    color: rgb(255, 208, 0) !important;
}

.line-yellow {
    background-color: rgb(255, 208, 0);
    height: .2%;
    width: auto;
    margin-top: 6%;
}

/*
****************************************************************
GALLERY
****************************************************************
*/
.gallery-img {
    width: inherit;
    height: inherit;
}

.gallery-img img {
    transition: border-color .2s;
    border: 2px yellow groove;

    transition: transform .4s;
    width: 90%;
    border-radius: 1%;

    box-shadow: 0 0 1vw 0 rgb(159, 159, 159);
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    
    justify-items: stretch;

    align-items: stretch;
    width: 90vw;
    height: 60vw;
    margin: auto;
    padding: 2% 1%;

    row-gap: 2%;
    column-gap: 1%;

    border: 2px solid blue;
    background-color: rgb(18, 18, 18);
}

.gallery-item {
    width: 100%;
    height: 100%;
}

.gallery-img:hover img {
    border-color: lime;
    transform: scale(1.08);
}

.gallery-img:hover{
    padding: 0;
}

/*
****************************************************************
IFRAME
****************************************************************
*/
.full-iframe {
    width: 100vw;
    margin-top: 10vh;
    height: 89vh;
}

/*
****************************************************************
NAVIGATION
****************************************************************
*/
.nav-link {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item, .activeNav {
    padding: 0 .5vw;
}

.nav-item:hover, .activeNav  {
    border: 2px solid rgb(0, 255, 247);
    padding: 0 calc(.5vw - 2px);
}

.activeNav:hover {
    border-color: rgb(0, 202, 195);
}

.nav {
    width: 100vw;
    height: 10vh;
    margin: 0 auto;
    background-color: rgb(5, 0, 57);
    list-style: none;

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    /*align along main axis (flex-direction)*/
    justify-content: space-around;

    /*align along cross axis*/
    align-content: center;
    align-items: center;
    
    /*make it stay, even when you scroll down*/
    position: fixed;
    top: 0;
    z-index: 1;

    box-shadow: 0 0 1vh .1vh gray;
}

/*
****************************************************************
DROPDOWN
****************************************************************
*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 15vw;
    box-shadow: 0 1vw 2vw 0 rgba(255, 255, 255, 0.2);
    z-index: 1;
    list-style: none;
    border: 1px solid lime;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    width: 100%;
}

.dropdown-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 1vh .1vw;
}

.dropdown-item-selected {
    color: rgb(68, 68, 115);
}

.dropdown-item-selected:hover .dropdown-link {
    color: rgb(0, 0, 133);
}

.dropdown-item:hover .dropdown-link, .dropdown-item-selected .dropdown-link {
    color: rgb(59, 59, 217);
}

.dropdown-item-selected:hover {
    background-color: rgb(233, 233, 233);
}

.dropdown-item:hover, .dropdown-item-selected {
    background-color: white;
}

@media (max-width: 770px) {
    * {
        font-size:14px;
    }
}

@media (max-width: 481px) {
    * {
        font-size: 8px;
    }
}
